* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: 'Montserrat', sans-serif;
    background-color: #29303b;
}

.wrapper {
    padding: 50px;
    width: 800px;
    background-image: linear-gradient(#3F4b59, #333d46);
    color: #ffffff;
    text-align: center;
    border: 1px solid #1c232D;
    border-radius: 15px;
    box-shadow: 0 0 15px #1c232d;
}